body {
  width: 100%;
  margin: 0;
  padding: 0;
  transition: background-color 1s ease;
}

.promo_block {
  width: 100%;
}

.nav__list {
  display: none;
  gap: 30px;
}

.nav__item,
.logo {
  padding: 10px;
}

.nav__item a,
.logo a {
  color: black;
  text-decoration: none;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.logo span,
.navigation li {
  font-family: Suisse Book;
  font-size: 30px;
  text-align: center;
  padding: 10px;
}
.logo {
  display: flex;
}

.logo a {
  margin: auto 0;
}

.logo,
.navigation li {
  border: 2px solid black;
  text-align: center;
}

.title_block {
  display: flex;
  gap: 20px;
}

.button_more img {
  width: 30px;
  height: 30px;
  margin-top: 25px;
}

.tooltip {
  position: fixed;
  color: #000;
  padding: 20px 0 0 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s;
  z-index: 1000;
  font-family: Suisse Book;
  font-size: 15px;
}
.tooltip.show {
  visibility: visible;
  opacity: 1;
}

.promo_block .title_block .title {
  font-family: Suisse Light;
  font-size: 180px;
  letter-spacing: -10px;
}

.image_block img {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  max-height: 800px;
  object-fit: cover;
  border: 3px solid black;
}

@media (max-width: 1440px) {
  .promo_block .title_block .title {
    font-size: 150px;
    letter-spacing: -5px;
  }

  .time_machine_block .info .subtitle {
    font-size: 20px;
  }

  .time_machine_block .info .title {
    font-size: 120px;
    letter-spacing: -8px;
    line-height: 80%;
    margin-top: 20px;
  }

  .time_machine_block .info .information {
    font-size: 24px;
    margin-top: 40px;
  }

  .time_machine_block .info .button_info {
    padding: 10px;
    border: 2px solid black;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
    font-family: Suisse Regular;
  }

  .predictions_block .predictions_title .title {
    font-size: 100px;
    letter-spacing: -6px;
  }
}

@media (max-width: 1260px) {
  .promo_block .title_block .title {
    font-size: 120px;
    letter-spacing: -5px;
  }

  .time_machine_block .info .subtitle {
    font-size: 18px;
  }

  .time_machine_block .info .title {
    font-size: 110px;
    letter-spacing: -7px;
    line-height: 80%;
    margin-top: 15px;
  }

  .time_machine_block .info .information {
    font-size: 22px;
    margin-top: 35px;
  }

  .time_machine_block .info .button_info {
    padding: 10px;
    border: 2px solid black;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 35px;
    font-family: Suisse Regular;
  }

  .check_block .title_block .title {
    font-size: 125px;
  }

  .predictions_block .predictions_title .title {
    font-size: 90px;
    letter-spacing: -6px;
  }
}

@media (max-width: 1300px) {
  .time_machine_block .info .subtitle {
    font-size: 17px;
  }

  .time_machine_block .info .title {
    font-size: 105px;
    letter-spacing: -7px;
    line-height: 80%;
    margin-top: 15px;
  }

  .time_machine_block .info .information {
    font-size: 20px;
    margin-top: 30px;
  }

  .time_machine_block .info .button_info {
    padding: 10px;
    border: 2px solid black;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
    font-family: Suisse Regular;
  }

  .time_machine_block .marquee {
    font-size: 30px;
    margin-top: 100px;
    padding: 25px 0;
  }

  .check_block {
    margin-top: 80px;
  }

  .check_block .title_block .title {
    font-size: 105px;
    letter-spacing: -7px;
  }

  .check_block .check .check_container {
    padding: 20px;
  }

  .check_block .check .date_frame {
    max-width: 90vw;
  }

  .check_block .check .number {
    font-family: Suisse Light;
    font-size: 130px;
  }

  .predictions_block .predictions_title .title {
    font-size: 95px;
    letter-spacing: -7px;
  }
}

@media (max-width: 1100px) {
  .check_block .check .check_container {
    padding: 18px;
  }

  .check_block .check .date_frame {
    max-width: 85vw;
  }

  .check_block .check .number {
    font-family: Suisse Light;
    font-size: 120px;
  }

  .predictions_block .predictions_title .title {
    font-size: 80px;
    letter-spacing: -5px;
  }

  .yourTime_block .yourTime_title p {
    font-size: 90px;
    letter-spacing: -5px;
  }
}

@media (max-width: 1024px) {
  .nav__list {
    gap: 15px;
  }

  .logo span,
  .navigation li {
    font-size: 24px;
  }

  .header {
    align-items: center;
    padding: 20px 0;
    gap: 20px;
  }

  .title_block {
    margin: 20px 0;
    gap: 10px;
  }

  .title_block .title {
    font-size: 100px;
    letter-spacing: -5px;
  }

  .button_more img {
    margin-top: 15px;
  }

  .image_block {
    margin: 20px 0;
    height: 40vh;
    background-image: url(../img/image_promo.jpg);
    object-fit: fill;
    border: 2px solid black;
  }

  .title_block .title {
    font-size: 120px;
    letter-spacing: -5px;
  }

  .time_machine_block .info .subtitle {
    font-size: 12px;
  }

  .time_machine_block .info .title {
    font-size: 90px;
    letter-spacing: -5px;
    line-height: 80%;
    margin-top: 25px;
  }

  .time_machine_block .info .information {
    font-size: 15px;
    margin-top: 30px;
  }

  .time_machine_block .info .button_info {
    padding: 10px;
    border: 2px solid black;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
    font-family: Suisse Regular;
  }

  .time_machine_block .marquee {
    font-size: 25px;
    margin-top: 80px;
    padding: 15px 0;
    bottom: -90px;
  }

  .check_block {
    margin-top: 70px;
  }

  .check_block .title_block .title {
    font-size: 90px;
    letter-spacing: -5px;
  }

  .check_block .check .check_container {
    padding: 15px;
  }

  .check_block .check .date_frame {
    max-width: 80vw;
  }

  .check_block .check .number {
    font-family: Suisse Light;
    font-size: 110px;
  }

  .predictions_block .predictions_title .title {
    font-size: 70px;
    letter-spacing: -5px;
  }

  .yourTime_block .yourTime_title p {
    font-size: 85px;
    letter-spacing: -5px;
  }
}

@media (max-width: 900px) {
  .time_machine_block {
    display: flex;
    flex-direction: column;
  }

  .time_machine_block .info .subtitle {
    font-size: 18px;
  }

  .time_machine_block .info .title {
    font-size: 120px;
    letter-spacing: -5px;
    line-height: 80%;
    margin-top: 35px;
  }

  .time_machine_block .info .information {
    font-size: 25px;
    margin-top: 30px;
  }

  .time_machine_block .info .button_info {
    padding: 10px;
    border: 2px solid black;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
    font-family: Suisse Regular;
    font-size: 30px;
  }

  .time_machine_block .marquee {
    font-size: 25px;
    margin-top: 80px;
    padding: 15px 0;
    bottom: -90px;
  }

  .check_block .title_block .title {
    font-size: 90px;
    letter-spacing: -5px;
  }

  .check_block .check .check_container {
    padding: 15px;
    flex-wrap: wrap;
  }

  .check_block .check .date_frame {
    max-width: 100vw;
  }

  .check_block .check .number {
    font-family: Suisse Light;
    font-size: 150px;
  }

  .predictions_block .predictions_title .title {
    font-size: 110px;
    letter-spacing: -5px;
  }

  .predictions_title .predictions_title .subtitles {
    text-wrap: wrap;
  }

  .yourTime_block .yourTime_title p {
    font-size: 85px;
    letter-spacing: -5px;
  }

  .yourTime_block .yourTime_title p {
    font-size: 70px;
    letter-spacing: -5px;
  }

  .yourTime_block .arrow {
    margin: 80px 0;
  }

  .yourTime_block .arrow1 {
    margin: 40px 0 80px 0;
  }

  .footer p {
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  .burger {
    display: none;
  }
  .nav__list {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .check_block .btns .btn {
    padding: 15px 20px;
  }

  .predictions_block .predictions_title {
    display: flex;
    flex-direction: column;
  }

  .predictions_block .predictions_title .title {
    font-size: 100px;
    letter-spacing: -5px;
  }

  .predictions_block .predictions_title .subtitles {
    margin-top: -100px;
  }

  .predictions_block .predictions_images .predictions_image2 {
    display: none;
  }

  .yourTime_block .yourTime_title p {
    font-size: 60px;
    letter-spacing: -2px;
  }
}

@media (max-width: 700px) {
  .promo_block .title_block .title {
    font-size: 100px;
    letter-spacing: -5px;
  }

  .nav__list {
    align-items: center;
    gap: 10px;
  }

  .nav__item {
    padding: 8px;
  }

  .logo span,
  .navigation li {
    font-size: 20px;
    padding: 5px;
  }

  .header {
    padding: 15px;
    gap: 15px;
  }

  .title_block {
    margin: 10px;
    gap: 8px;
  }

  .title_block .title {
    font-size: 50px;
    letter-spacing: -2px;
  }

  .button_more img {
    width: 24px;
    height: 24px;
    margin-top: 10px;
  }

  .image_block {
    margin: 10px;
  }

  .check_block .btns .btn {
    padding: 15px 60px;
  }

  .check_block .btns .left-side_btns {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .check_block .btns .sell_btn {
    height: 25px;
    text-align: center;
  }

  .yourTime_block .yourTime_title p {
    font-size: 50px;
    letter-spacing: -2px;
  }

  .footer p {
    font-size: 30px;
  }
}

@media (max-width: 600px) {
  .check_block .check .number {
    font-size: 180px;
  }

  .check_block .btns {
    display: block;
    font-size: 25px;
    font-family: Suisse Light;
  }

  .check_block .btns .left-side_btns {
    gap: 10px;
  }

  .check_block .btns .btn {
    padding: 15px 50px;
    font-size: 26px;
  }

  .check_block .btns .sell_btn {
    height: 20px;
    margin-top: 10px;
  }

  .predictions_block .predictions_title {
    display: flex;
    gap: 0px;
    align-items: flex-start;
  }

  .predictions_block .predictions_title .title {
    font-size: 80px;
    letter-spacing: -5px;
    margin-bottom: 20px;
  }

  .predictions_block .predictions_title .subtitles {
    margin-top: 0px;
  }

  .predictions_block .predictions_images {
    margin-top: 40px;
  }

  .yourTime_block .yourTime_title {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .yourTime_block .yourTime_title p {
    font-size: 80px;
    letter-spacing: -2px;
  }
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#app {
  padding: 0px 30px;
}

.time_machine_block {
  position: relative;
  margin-top: 100px;

  display: flex;
  margin-bottom: 125px;
  align-items: center;
  gap: 5%;
}
.marquee {
  font-size: 36px;
  font-family: Suisse Book;
  margin-top: 100px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 30px 0;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  bottom: -125px;
  left: -30px;
  width: 100vw;
}

.time_machine_block .subtitle {
  font-family: Suisse Regular;
  font-size: 24px;
}

.time_machine_block .title {
  font-family: Suisse Light;
  font-size: 140px;
  letter-spacing: -10px;
  line-height: 80%;
  margin-top: 40px;
}

.time_machine_block .information {
  font-family: Suisse Regular;
  font-size: 30px;
  margin-top: 60px;
}

.time_machine_block .button_info {
  padding: 10px;
  border: 2px solid black;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
  font-family: Suisse Regular;
}

.time_machine_block .image_machine {
  min-width: 50%;
}

.time_machine_block img {
  width: 90%;
}

.burger {
  position: absolute;
  z-index: 100;
  right: 30px;
  top: 30px;
  border: 2px solid black;
}

.menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: white;
}

.isOpen {
  display: block;
}

.check_block {
  margin-top: 100px;
}

.check_block .title {
  font-family: Suisse Light;
  font-size: 140px;
  letter-spacing: -10px;
}

.check {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 30px 0;
  gap: 30px;
}

.check_container {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  padding: 30px;
}

.date_frame {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  max-width: 100vw;
}
.btns {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  font-family: Suisse Light;
}

.btns .btn {
  padding: 15px 30px;
  border: 2px solid black;
  cursor: pointer;
}

#btn_check.active {
  animation: pulse 5s infinite;
  border-width: 2px;
}

@keyframes pulse {
  0% {
    border-color: rgb(0, 0, 0);
  }
  40% {
    border-color: rgb(116, 116, 116);
  }
  70% {
    border-color: rgb(205, 205, 205);
  }
  100% {
    border-color: rgb(0, 0, 0);
  }
}

.left-side_btns {
  display: flex;
  gap: 25px;
}
.number {
  font-family: Suisse Light;
  font-size: 150px;
}
.number_label {
  font-family: Suisse Light;
  font-size: 20px;
}

.number {
  font-family: Suisse Light;
  min-width: 2ch;
  display: inline-block;
  text-align: center;
}

.sell_menu_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.sell_menu {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 831px;
  height: 763px;
  background-color: white;
  transform: translate(-50%, -50%);
  padding: 30px 45px 40px 30px;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.sell_menu_title {
  font-family: Suisse Regular;
  font-size: 55px;
  text-transform: uppercase;
}

.sell_menu_content {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  margin-top: 100px;
}

.sell_menu_info {
  font-family: Suisse Regular;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sell_menu_btn_ok {
  padding: 10px 24px;
  border: 2px solid black;
  cursor: pointer;
  max-width: 325px;
  max-height: 60px;
  text-align: center;
}
.check_block {
  position: relative;
  margin-top: 200px;
}

.sell_menu_close {
  font-family: Suisse Regular;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
  border: 2px solid black;
  padding: 12px 24px;
}

.sell_menuIsOpen {
  display: block;
  opacity: 1;
  visibility: visible;
}
.sell_menuIsOpen .sell_menu {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.predictions_title {
  display: flex;
  gap: 50px;
  align-items: flex-end;
}

.predictions_title .title {
  font-family: Suisse Light;
  font-size: 140px;
  letter-spacing: -8px;
}

.predictions_title .predictions_title .subtitles {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-wrap: nowrap;
  font-family: Suisse Regular;
}

.predictions_title .subtitles .subtitles_text {
  font-family: Suisse Regular;
}

.predictions_block {
  margin-top: 100px;
}

.predictions_images {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  margin-top: 60px;
}

.predictions_image {
  flex: 1;
  height: 500px;
  overflow: hidden;
}

.predictions_image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.predictions_arrow {
  width: 60px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.generate_btn {
  border: 2px solid black;
  padding: 15px;
  text-align: center;
  font-family: Suisse Regular;
  font-size: 24px;
  cursor: pointer;
}

.prediction_btn {
  padding: 15px 100px;
  border: 2px solid black;
  text-align: center;
  font-family: Suisse Regular;
  font-size: 24px;
  cursor: pointer;
  max-width: 500px;
  background-color: #fff;
}
.yourTime_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 100px 0;
}
.yourTime_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-wrap: nowrap;
  gap: 30px;
}

.clock_block img {
  width: 100%;
  height: 100%;
  min-width: 100px;
  margin-top: 60px;
}

.yourTime_title p {
  font-family: Suisse Light;
  font-size: 100px;
  letter-spacing: -5px;
  text-transform: uppercase;
  white-space: nowrap;
}

.yourTime_title img {
  width: 100%;
  height: 100%;
  min-width: 100px;
}

.yourTime_block .clock_block {
  width: 100%;
}

.yourTime_block .clock_block .arrow {
  display: flex;
  flex-direction: column;
  margin: 100px 0;
}

.yourTime_block .clock_block ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.yourTime_block .clock_block .moments {
  font-family: Suisse Light;
  font-size: 80px;
  min-width: 80px;
  text-align: center;
}

.yourTime_block .time_btn {
  font-family: Suisse Regular;
  font-size: 24px;
  padding: 15px 0;
  width: 100%;
  background: transparent;
  border: 2px solid #000;
  margin: 30px auto;
  display: block;
  cursor: pointer;
  transition: all 0.3s ease;
}

.yourTime_block .time-btn:hover {
  background: #000;
  color: #fff;
}

@keyframes time_warp {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.5) rotate(180deg);
    opacity: 0.3;
  }
  100% {
    transform: scale(1) rotate(360deg);
    opacity: 1;
  }
}

.time-distortion {
  animation: time_warp 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.stop_btn {
  width: 100%;
  height: 100%;
  min-width: 100px;
  border: 2px solid black;
  text-align: center;
  font-family: Suisse Regular;
  font-size: 24px;
  padding: 15px 0;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Suisse Light;
  font-size: 24px;
  padding: 15px 0;
  font-size: 50px;
}

#fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease;
  font-family: Suisse Regular;
  font-size: 160px;
}
